.react-calendar {
  border: none !important;
  width: 100%;
  font-family: "Pretendard-Regular", sans-serif;
}
.react-calendar__month-view__weekdays {
  position: relative; /* Needed for the pseudo-element */
}

/* Create a pseudo-element for the entire weekday header row */
.react-calendar__month-view__weekdays::after {
  content: ""; /* Pseudo-element content */
  position: absolute;
  bottom: 0; /* Aligns at the bottom of the container */
  left: 0; /* Aligns to the left */
  width: 100%; /* Full width of the container */
  height: 1.8px; /* Thickness of the gradient border */
  background-image: linear-gradient(
    to right,
    #ffe1a9,
    #ffc14a
  ); /* Gradient colors */
}

.react-calendar__tile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 60px;
  border: none;
  border-radius: 20%;
  transition: all 0.1s ease-in-out;
}

.events-number {
  font-size: 0.75em;
  color: #fff;
  background-color: #ffc14a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  font-family: "Pretendard-Black", sans-serif;
}

.react-calendar__navigation__label__labelText--from {
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 20px;
}
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}
/* Style for highlighted tiles */
.react-calendar__tile.highlight {
  background: orange;
  color: black;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}
.react-calendar__month-view__days {
  padding-top: 10px;
  height: 350px;
}

/* Additional styles for events-container if needed */
.events-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make sure the day tiles are positioned relatively to allow absolute positioning of children */
.react-calendar__month-view__days__day {
  position: relative; /* Allows absolute positioning within each tile */
}

/* Set the selected tile's background to transparent */
.react-calendar__tile--active {
  background: transparent !important; /* Ensures override of any existing background styles */
  border: 2px solid #ffc14a !important; /* Add a border to highlight the selection */
  color: inherit; /* Optional: Ensures the text color remains consistent with other tiles */
}

abbr {
  text-decoration: none;
}
